In [1]:
print("hello world!")

hello world!

In [3]:
import pandas as pd 
data = [10, 20, 30, 40] 
v = pd.Series(data)
print(data)
print(v)

[10, 20, 30, 40]
0    10
1    20
2    30
3    40
dtype: int64

In [4]:
data = { 
'Name': ['Alice', 'Bob', 'Charlie'], 
'Age': [25, 30, 35], 
'City': ['New York', 'Los Angeles', 'Chicago'] 
} 
df = pd.DataFrame(data) 
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [20]:
import pandas as pd
df = pd.read_csv("transactions.csv");
print(df)

print("\n")
print("prints first 5 rows: ")
print(df.head(5))
print("\n last 5 rows: ")
print(df.tail(5))

print("\ninfo of data: ")
print(df.info())
print("\n decription of the data: ")
print(df.describe())

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4


prints first 5 rows:
   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1

 last 5 rows:
   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

info of data:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     object
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 532.0+ bytes
None

 decription of the data:
       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [25]:
print("\n locating with index: ")
print(df.iloc[1])
print("\n accessing single col with name: ")
print(df["UserID"])
print("\n accessing multiple cols using names: ")
print(df[["UserID","ProductID"]])

 locating with index:
TransactionID               2
TransactionDate    2011-05-26
UserID                    3.0
ProductID                   4
Quantity                    1
Name: 1, dtype: object

 accessing single col with name:
0    7.0
1    3.0
2    3.0
3    1.0
4    2.0
5    2.0
6    3.0
7    NaN
8    7.0
9    3.0
Name: UserID, dtype: float64

 accessing multiple cols using names:
   UserID  ProductID
0     7.0          2
1     3.0          4
2     3.0          3
3     1.0          2
4     2.0          4
5     2.0          5
6     3.0          4
7     NaN          2
8     7.0          4
9     3.0          4

In [29]:
data = { 
'Name': ['Alice', 'Bob', 'Charlie',"Devil","Tony","Mark"], 
'Age': [25, 30, 28,40,36,31], 
'City': ['New York', 'Los Angeles', 'Chicago','New York', 'Los Angeles', 'Chicago'] 
} 
df = pd.DataFrame(data) 
# print(df)

filtered_df = df[df["Age"]>30]
print(filtered_df)

    Name  Age         City
3  Devil   40     New York
4   Tony   36  Los Angeles
5   Mark   31      Chicago

In [30]:
import pandas as pd 
df = pd.read_csv("transactions.csv") 
df.rename(columns={"Quantity": "Quant"}, inplace=True) 
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1

In [51]:
data = { 
'Name': ['Alice', 'Bob', 'Charlie',"Devil","Tony","Mark"], 
'Age': [25, 30, 28,40,None,36], 
'City': ['New York', 'Los Angeles', 'Chicago','New York', 'Los Angeles', 'Chicago'] 
} 
df = pd.DataFrame(data) 
# finds missing cols values count
# print(df.isnull().sum())

# replace missing values in age col with mean age
df['Age'].fillna(df['Age'].mean(), inplace=True)
print(df)

 # Drop rows with missing values 
# df.dropna(inplace=True)
# print(df)

      Name   Age         City
0    Alice  25.0     New York
1      Bob  30.0  Los Angeles
2  Charlie  28.0      Chicago
3    Devil  40.0     New York
4     Tony  31.8  Los Angeles
5     Mark  36.0      Chicago